%form{method: 'post'}
  %p
    Login:
    %input{type: 'text', name: 'name'}
  %p
    Password:
    %input{type: 'text', name: 'password'}
  %p
    Repeat password:
    %input{type: 'text', name: 'password_confirmation'}
  %button Register

